.form-control-static-control{height: 25px;width: 240px;margin-top: 15px;}
.form-control5 {height: 25px;width: 240px;margin-top: 15px;    }
.form-control6 {height: 25px;width: 240px;margin-top: 15px;    }
.form-control7 {height: 25px;width: 240px;margin-top: 15px;    }

.form-group11111{float: right;margin-right: 70px;}
.form-group22222{float: right;margin-right: 190px;margin-top: 15px;}
.update{margin-top: 40px;
	    width: 120px;
        float: right;
        margin-right: 190px;
        

        }
